<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}"/>
	<title>Team Draft Summary</title>
</head>
<body>
	<header class="container border">
		<h1 id="header">
			<a href="index.html" th:href="@{/logo}" class="home-icon">
				<img  style="width:80px; height:80px;" src="/static/home_logo.png" th:src="@{/home_logo.png}" alt="home_logo" width="4%"/>
			</a>
			NBA Side App
		</h1>
	</header>
	
	<main class="container border" style="height:85vh">
		<h2>DRAFT SUMMARY</h2>
		<div class="row border" style="height:90%">
			<div class="container border col-3">
				<div id="team-roster" class="container row border" style="height:70%">
					<div>
						<h3>Totals</h3>
						<b>Inside Scoring:</b> <span th:text="${team.insideScoring}">##</span><br>
						<b>Mid-Range Scoring:</b> <span th:text="${team.midRangeScoring}">##</span><br>
						<b>3pt Scoring:</b> <span th:text="${team.threePointScoring}">##</span><br>
						<b>Playmaking:</b> <span th:text="${team.playmaking}">##</span><br>
						<b>Rebounding:</b> <span th:text="${team.rebounding}">##</span><br>
						<b>Interior Defense:</b> <span th:text="${team.interiorDefense}">##</span><br>
						<b>Perimeter Defense:</b> <span th:text="${team.perimeterDefense}">##</span><br>
						<br>
						<b>Overall:</b> <span th:text="${team.overall}">##</span><br>
					</div>
				</div>
				<div id="team-stats" class="container row border" style="height:30%">
					Name Team<br>
					Save to DB<br>
					Export to CSV
				</div>
			</div>
			
			<div id="draft-pool" class="container border col-9 ps-0 pe-0" style="height:100%">
				<div class="border border-primary table-responsive ps-0 pe-0" style="height:88%">
					<table class="table border table-responsive">
						<thead>
							<tr>
								<th scope="col">NAME</th>
								<th scope="col">POS</th>
								<th scope="col">OVR</th>
								
								<th scope="col">INS</th>
								<th scope="col">MID</th>
								<th scope="col">3PT</th>
								
								<th scope="col">PLM</th>
								<th scope="col">REB</th>

								<th scope="col">INS_D</th>
								<th scope="col">PER_D</th>
							</tr>
						</thead>
						<tbody th:each="player : ${team.roster}">
							<tr>
								<td th:text="${player.fullName}">##</td>
								<td th:text="${player.positions}">##</td>
								<td th:text="${player.overall}">##</td>
								
								<td th:text="${player.insideScoring}">##</td>
								<td th:text="${player.midRangeScoring}">##</td>
								<td th:text="${player.threePointScoring}">##</td>
								
								<td th:text="${player.playmaking}">##</td>
								<td th:text="${player.rebounding}">##</td>

								<td th:text="${player.interiorDefense}">##</td>
								<td th:text="${player.perimeterDefense}">##</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="border border-danger pt-2" style="height:12%">
					<nav>
						<ul class="pagination d-flex justify-content-evenly overflow-auto">
							<li  th:each="i : ${#numbers.sequence(1, leagueSize)}">
								
								<form method="post" action="#" th:action="@{/draft_summary_page/team}">
									<input class="page-link" type="submit" value="#" 
										   name="teamIndex" th:value="${i}">
								</form>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</main>
</body>
</html>