<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <title>playoffs page</title>
</head>
<body>
<header class="container border">
    <h1 id="header">
        <a href="index.html" th:href="@{/logo}">
            <img  style="width:80px; height:80px;" src="/static/home_logo.png" th:src="@{/home_logo.png}"
                  alt="home_logo" width="4%"/>
        </a>
        NBA Side App
    </h1>
</header>

<main class="container border" style="height:85vh">
    <div class="row">
        <h1>PLAYOFFS BRACKET RANDOMIZER PAGE</h1>
        <div class="col border border-danger">
            <span class="row">1st Round - West</span><hr>
            <span class="row">first team</span>
            <span class="row">second team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">third team</span>
            <span class="row">fourth team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">fifth team</span>
            <span class="row">sixth team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">seventh team</span>
            <span class="row">eighth team</span>
        </div>
        <div class="col border border-danger">
            <span class="row">2nd Round - West</span><hr>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">first team</span>
            <span class="row">second team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">third team</span>
            <span class="row">fourth team</span>
            <span class="row">#</span>
            <span class="row">#</span>
        </div>
        <div class="col border border-danger">
            <span class="row">West Finals</span><hr>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">first team</span>
            <span class="row">second team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
        </div>
        <div class="col border border-danger">
            <span class="row">NBA Finals</span><hr>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">WEST team</span>
            <span class="row">EAST team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
        </div>
        <div class="col border border-danger">
            <span class="row">East Finals</span><hr>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">first team</span>
            <span class="row">second team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
        </div>
        <div class="col border border-danger">
            2nd Round - East<hr>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">first team</span>
            <span class="row">second team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">third team</span>
            <span class="row">fourth team</span>
            <span class="row">#</span>
            <span class="row">#</span>
        </div>
        <div class="col border border-danger">
            1st Round - East<hr>
            <span class="row">first team</span>
            <span class="row">second team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">third team</span>
            <span class="row">fourth team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">fifth team</span>
            <span class="row">sixth team</span>
            <span class="row">#</span>
            <span class="row">#</span>
            <span class="row">seventh team</span>
            <span class="row">eighth team</span>
        </div>
    </div>
</main>
</body>
</html>